@font-face {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: local('Schoolbell'), url(http://fonts.gstatic.com/s/schoolbell/v6/BSqn7FernLolrt-MFco9Wvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
